/* This code is from Louise Moxy */
#chart {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

header h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;

  color: #A67277;
}

header h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 43px;
  text-align: center;
  margin-top: 10px;

  color: #BC8F8F;
}

p {
  text-align: left;
  margin-top: 5px;
}

b {
  margin-top: 12px;
  margin-bottom: 12px;

  color: #A67277;
}

.b2 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 12px;
  color: #BC8F8F;
}

.smallnote {
  text-align: left;
  font-size: 13px;
  margin-bottom:10px;
}

.column-container {
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: calc(100vh - 72px);
  margin : 0;
  
}

.column-header {
  float: left;
  width: 30%;
  padding: 20px;
  position: fixed;
}

.title {
  float: left;
  width: 36vw;
}

.column-content {
  font-family: 'Lato';
  text-align: center;
  float: right;
  width: 50%;
  padding-right: 5%;
}

.cherry-tree img{
  width: 30%;
  height: 70%;
  position: fixed;
  margin-top: 10px;
  bottom: 0;
  left: 0px;
}

.tableauPlaceholder {
  margin-top: 20px;
  margin-bottom: 20px;
}